<div class="text-center container p-2">
    <button class="btn btn-primary" (click)="pdf()"><mat-icon>download</mat-icon>Descargar Reglamento Interno y Política</button>
</div>

<div class="container p-1" id="pdf">

<table bgcolor="white" border="5" style="margin: 0 auto;" width="700" height="500">
    <br>
    <h1 style="color:darkblue" color="red" class="text-center" style="font-size: 25px;"> <u>Reglamento Interno y Política</u></h1>
    <br>

    <p style="font-size: 15px;">
        Antes del comienzo de las tareas, el TERCERO deberá cumplir con lo descrito en el presente documento, en caso de duda deberá reunirse con el responsable de Seguridad Industrial a fin de analizar las medidas de prevención necesarias para el desarrollo de las tareas.
    </p>
    <p style="font-size: 15px;">
        Toda Empresa que ingrese a las instalaciones de PRECOR S.A, deberá de renovar de forma mensual los siguientes Documentos: 
    </p>

    <ul>
        <li>SCTR</li>
        <li>Deberá contar con Chaleco de Color Naranja y los Equipos de Protección Personal.</li>
        <li>Registro de Entrega de Epp’s</li>
        <li>Otros documentos de Acuerdo al Nivel de Riesgo de las Actividades.</li>
    </ul>

    <p style="font-size: 15px;"> <u> I. OBLIGACIONES GENERALES DE SEGURIDAD </u></p>
    <p style="font-size: 15px;">Comunicación:</p>
    <p style="font-size: 15px;">* El TERCERO deberá de realizar la charla de seguridad de 05 minutos en forma diaria, antes de realizar sus operaciones. </p>
    <P style="font-size: 15px;">* El Supervisor de Seguridad o Prevencioncita o Persona asignada del TERCERO será responsable de reportar al área de Seguridad Industrial todos los incidentes y/o accidentes, y cualquier derrame o fuga, que ocurra en las instalaciones de Precor S.A. </P>
    <P style="font-size: 15px;">* Todo accidente y/o incidente de trabajo deberá ser informado inmediatamente a la unidad médica y al área de Seguridad Industrial.</P>
    <p style="font-size: 15px;">* El TERCERO está obligado a respetar, cumplir y dar a conocer a sus empleados los requisitos establecidos en los estándares de trabajo de Precor S.A., Reglamento Interno de Seguridad y Salud en el Trabajo y estándares de seguridad aplicables, matriz IPERC, entre otros documentos indicados por el área de Seguridad Industrial. </p>
    <p style="font-size: 15px;">* Todo el personal que manipule, transporte y/o utilice materiales peligrosos, deberá estar informado acerca de las propiedades, peligros, medidas de control, requisitos de etiquetado de peligros en el sitio y la ubicación de las hojas MSDS para poder aplicar las medidas preventivas que se indique en dichos formatos</p>
    <p style="font-size: 15px;">Documentos:</p>
    <p style="font-size: 15px;">* Los trabajos en altura; perforación, penetración de superficie y excavación; cortes, soldaduras y otros trabajos calientes; trabajos en sistemas y equipos con energía eléctrica; y control de energías peligrosas se ejecutarán mediante un plan de trabajo y permiso de trabajo controlado. Los trabajos que requieran realizarse con energía peligrosa activa, se requieren un Procedimiento Escrito de Trabajo Seguro de la actividad a realizar entre otros que se considere por el área de Seguridad Industrial. </p>
    <p style="font-size: 15px;">* EL TERCERO deberá presentar su plan de seguridad. En caso se requieran trabajos de manipulación de materiales peligrosos, trabajos en altura, excavación y perforación, deberá presentar además su plan de contingencias y/o emergencias.</p>
    <p style="font-size: 15px;">* Se deberá realizar un Análisis de Trabajo Seguro previo al inicio de los servicios, por lo que todas las actividades que lo componen pasarán una previa evaluación de riesgos. Se generará la Matriz IPERC, en la cual se indicará las jerarquías de control a respetar del área o máquina donde se van a realizar los trabajos.</p>
    

    
</table>


</div>
