<!--div class="text-center container p-2">
    <button class="btn btn-primary" (click)="pdf()"><mat-icon>download</mat-icon>Descargar Obligaciones Generales</button>
</div-->

<div class="container p-1" id="pdf">

<table bgcolor="white" border="5" style="margin: 0 auto;" width="700" height="500">
    <br>
    <h1 style="color:darkblue" color="red" class="text-center" style="font-size: 25px;"> <u>OBLIGACIONES GENERALES DE PROVEEDORES, CONTRATISTAS Y VISITANTES</u></h1>
    <br>

    <p style="font-size: 15px;">
        Antes del comienzo de las tareas, el TERCERO deberá cumplir con lo descrito en el presente documento, en caso de duda deberá reunirse con el responsable de Seguridad Industrial a fin de analizar las medidas de prevención necesarias para el desarrollo de las tareas.
    </p>
    <p style="font-size: 15px;">
        Toda Empresa que ingrese a las instalaciones de PRECOR S.A, deberá de renovar de forma mensual los siguientes Documentos: 
    </p>

    <ul>
        <li>SCTR</li>
        <li>Deberá contar con Chaleco de Color Naranja y los Equipos de Protección Personal.</li>
        <li>Registro de Entrega de Epp’s</li>
        <li>Otros documentos de Acuerdo al Nivel de Riesgo de las Actividades.</li>
    </ul>

    <p style="font-size: 15px;"> <u> I. OBLIGACIONES GENERALES DE SEGURIDAD </u></p>
    <p style="font-size: 15px;">Comunicación:</p>
    <p style="font-size: 15px;">* El TERCERO deberá de realizar la charla de seguridad de 05 minutos en forma diaria, antes de realizar sus operaciones. </p>
    <P style="font-size: 15px;">* El Supervisor de Seguridad o Prevencioncita o Persona asignada del TERCERO será responsable de reportar al área de Seguridad Industrial todos los incidentes y/o accidentes, y cualquier derrame o fuga, que ocurra en las instalaciones de Precor S.A. </P>
    <P style="font-size: 15px;">* Todo accidente y/o incidente de trabajo deberá ser informado inmediatamente a la unidad médica y al área de Seguridad Industrial.</P>
    <p style="font-size: 15px;">* El TERCERO está obligado a respetar, cumplir y dar a conocer a sus empleados los requisitos establecidos en los estándares de trabajo de Precor S.A., Reglamento Interno de Seguridad y Salud en el Trabajo y estándares de seguridad aplicables, matriz IPERC, entre otros documentos indicados por el área de Seguridad Industrial. </p>
    <p style="font-size: 15px;">* Todo el personal que manipule, transporte y/o utilice materiales peligrosos, deberá estar informado acerca de las propiedades, peligros, medidas de control, requisitos de etiquetado de peligros en el sitio y la ubicación de las hojas MSDS para poder aplicar las medidas preventivas que se indique en dichos formatos</p>
    <p style="font-size: 15px;">Documentos:</p>
    <p style="font-size: 15px;">* Los trabajos en altura; perforación, penetración de superficie y excavación; cortes, soldaduras y otros trabajos calientes; trabajos en sistemas y equipos con energía eléctrica; y control de energías peligrosas se ejecutarán mediante un plan de trabajo y permiso de trabajo controlado. Los trabajos que requieran realizarse con energía peligrosa activa, se requieren un Procedimiento Escrito de Trabajo Seguro de la actividad a realizar entre otros que se considere por el área de Seguridad Industrial. </p>
    <p style="font-size: 15px;">* EL TERCERO deberá presentar su plan de seguridad. En caso se requieran trabajos de manipulación de materiales peligrosos, trabajos en altura, excavación y perforación, deberá presentar además su plan de contingencias y/o emergencias.</p>
    <p style="font-size: 15px;">* Se deberá realizar un Análisis de Trabajo Seguro previo al inicio de los servicios, por lo que todas las actividades que lo componen pasarán una previa evaluación de riesgos. Se generará la Matriz IPERC, en la cual se indicará las jerarquías de control a respetar del área o máquina donde se van a realizar los trabajos.</p>
    

    
</table>


</div>

<p class="text-center">---------------------------------------------------------------------------------------------------------------------------</p>

<div class="container p-1" id="pdf">

    <table bgcolor="white" border="5" style="margin: 0 auto;" width="700" height="500">
        <br>
        <p style="font-size: 15px;">* El TERCERO podrá ingresar materiales peligrosos necesarios para ejecutar un trabajo programado, siempre que estos cuenten con las respectivas Hojas de Seguridad de Material (MSDS) previamente evaluados y aprobados por el área de Seguridad Industrial.</p>
        <p style="font-size: 15px;">* El TERCERO deberá contar con: Equipos, máquinas y herramientas; debidamente certificados, normados y homologados en cumplimiento del principio de primacía de la realidad, según de la Ley N°29783 y otros requisitos legales vigentes.</p>
        <p style="font-size: 15px;">Instalaciones:</p>
        <p style="font-size: 15px;">* El TERCERO será responsable de la limpieza apropiada de los derrames o fugas causados por sus actividades. La limpieza incluirá la remoción o reposición de cualquier material que haya sido impactado por tal derrame, tales como materiales de construcción, suelo, agua subterránea, aguas superficiales, etc. </p>
        <p style="font-size: 15px;">* EL TERCERO deberá retirar sus residuos sólidos durante y al finalizar el trabajo solicitado. Asimismo, deberá disponer de los mismos en un lugar de acopio fuera de las instalaciones de Precor S.A. </p>
        <p style="font-size: 15px;">* Mantener condiciones de orden y limpieza en todo momento.</p>
        <p style="font-size: 15px;">Legal</p>
        <p style="font-size: 15px;">* El TERCERO contará con una póliza de seguro SCTR Salud y Pensión, que cubre accidentes de trabajo a favor de los obreros y empleados en la forma establecida por la ley, cuando ingrese a áreas de riesgo o realice un trabajo controlado. </p>
        <p style="font-size: 15px;">* Cumplir con las normas legales vigentes aplicables al sector o actividad de la empresa. </p>
        <p style="font-size: 15px;">* El TERCERO asumirá los riesgos por responsabilidad civil, derivados de lesiones o muerte, de los empleados y obreros que trabajen en el servicio. El TERCERO que desencadene en este tipo de incidentes y/o accidentes asumirá la suspensión del trabajo y restricción de ingreso de las personas involucradas, además de la defensa contra cualquier demanda por estos conceptos y se hará cargo de cualquier suma que se ordenase pagar a Precor S.A. En caso PRECOR S.A. resulte afectado con alguna demanda judicial, laboral o denuncia penal; podrá repetir contra el TERCERO y así reembolsar los gastos que se generen en su perjuicio.</p>
        <p style="font-size: 15px;">Personal:</p>
        <p style="font-size: 15px;">* EL TERCERO deberá presentar los certificados de aptitud médica ocupacional del personal que realizará trabajos dentro de nuestras instalaciones de acuerdo al perfil de riesgo o actividad a realizar. En caso de realización de trabajos controlados, se deberá cumplir con el perfil de riesgos específico para los trabajos controlados de altura.</p>
        <p style="font-size: 15px;">* Precor S.A., realizará la contratación de terceros que están capacitados en el trabajo a realizar.</p>
        <p style="font-size: 15px;">* EL TERCERO o personal de Intermediación declara tener experiencia en el trabajo a realizar y su personal está capacitado y entrenado para la tarea a realizar.</p>
        <p style="font-size: 15px;">* El TERCERO está obligado a acreditar personal técnico y/o especialista, capacitado y calificado en la actividad a realizar; a su vez deberá conocer los peligros, riesgos y medidas de control para el mejor cumplimiento de sus obligaciones.</p>
        <p style="font-size: 15px;">* Caminar por las vías peatonales y sobreparar en las intercepciones.</p>
        <p style="font-size: 15px;">* Está prohibido el ingreso de personas bajo influencia de alcohol y/o drogas. </p>
    </table>
    </div>

    <p class="text-center">---------------------------------------------------------------------------------------------------------------------------</p>

    <div class="container p-1" id="pdf">

        <table bgcolor="white" border="5" style="margin: 0 auto;" width="700" height="500">
            <br>

            <p style="font-size: 15px;">* El TERCERO ejecutará el SERVICIO asegurando que todo su personal utilice adecuadamente equipos de protección personal que cumplan o excedan las normas apropiadas (ANSI, NIOSH, EN o equivalentes locales del país), y maquinaria que cumpla con normativa o certificaciones aplicable (UL, NFPA, IEC, IP, entre otros) para la ejecución de la misma, empleando dirección técnica, seguridad y salud ocupacional para la completa ejecución de los trabajos que se encomienden. </p>
            <p style="font-size: 15px;">Seguimiento y Control de actividades:</p>
            <p style="font-size: 15px;">* El Supervisor de Seguridad o Prevencioncita o Persona asignada del TERCERO deberá asegurar que se investiguen los incidentes y/o accidentes para determinar la causa raíz y las acciones correctivas para evitar su recurrencia. Deberá entregar una copia de la investigación al área de Seguridad Industrial con la evidencia del cumplimiento de las medidas correctivas adoptadas. </p>
            <p style="font-size: 15px;">* En caso de incumplimiento, el área de Seguridad Industrial procederá a detener el trabajo o retirará al personal TERCERO de las instalaciones por incumplimiento de normas de seguridad. Cualquier trabajador de Precor S.A., puede detener las operaciones en caso observe el incumplimiento de normas de seguridad.</p>
            <p style="font-size: 15px;">* En caso de Peligro inminente que constituye un riesgo importante o intolerable, todas las personas deberán interrumpir sus actividades. No se reanudarán las actividades mientras el riesgo no se haya reducido o controlado, previa indicación del área de seguridad industrial.</p>
            <p style="font-size: 15px;">* El TERCERO deberá realizar inspecciones de condiciones de seguridad e identificar mediante la observación, los desvíos de comportamiento. </p>
            <p style="font-size: 15px;"> <u> II.	MEDIDAS DISCIPLINARIAS: </u></p>
            <p style="font-size: 15px;">* En caso de realizar trabajos considerados como controlados sin cumplir los estándares de seguridad, se detendrá inmediatamente operaciones y serán retirados de las Instalaciones de Precor S.A. </p>
       
        </table>
        </div>