    <div class="container text-center">
        <h1><strong>Video de Inducción de Seguridad Industrial</strong></h1>
        <p style="font-size: 20px;" >Para realizar la Inducción de Seguridad Industrial debe visualizar el siguiente video</p>
        <div>
            <div class="row">
                <div class="col">
                    <youtube-player videoId="NCJM3xG2Aac"></youtube-player>
                </div>
            </div>
                <button class="btn btn-success" [routerLink]="['/induccion']">Siguiente</button>
        </div>
    </div>
