/* Ajusta el texto del párrafo a un cuerpo de letra muy grande. */
p { font-size: xx-large }

/* Ajusta la cabecera de nivel 1 (h1) a 2,5 veces del tamaño
 * del texto. */
h1 { font-size: 250% }

/* Ajusta el texto incluido en span a 16px */
span { font-size: 16px; }

p{
    font-size: 25px;
}

.tabla1{
    background-color: blue;
}

table{
    border-color: black;
    border-collapse: collapse;
    width: 100%;
}

td{
    height: 40px;
}
  
.servis{
    padding-top: 0px;
    padding-left:395px;
    position: relative;
    top: -127px;
}

img{
    height: 40px;
    
    
}
