<div class="text-center container p-2">
    <button class="btn btn-primary" (click)="pdf()">Descargar Constancia de Inducción COVID-19</button>
</div>

<div class="container" style="width: 800px; padding: 0px; overflow-x:auto;" id="pdf" >

    <table class="table table-bordered" style="text-align: center; margin-bottom: -1px;">

        <thead>
            <tr>

            <td style="width: 200px; padding: 0px;"> <img src="assets/logos_de_pase/pmp.PNG" alt=""></td>
            <td style="width: 300px; padding-top: 0px; background-color: #2f5496; color: white;font-weight: bold; vertical-align: center;">CONTROL INTEGRAL DE TERCEROS - PASAPORTE</td>
            <td style="width: 200px; padding: 0px;"> <img src="assets/logos_de_pase/sst.PNG" alt=""></td>
            
            </tr>
        </thead>
        
    </table>

    <table  style="text-align: center; margin-bottom: -1px;" class="table table-bordered">
        <thead>
            <tr>
            
                <td style="background-color: #2f5496; color: white; width: 900px; align-items: center;">DATOS DEL TRABAJADOR</td>
                
            </tr>
        </thead>
    </table>



    <table class="table table-bordered" style="margin-bottom: -1px;">
        <tbody>
            <tr>
                <td style="width: 120px; text-align: center;">NOMBRE:</td>
                <td style="width: 200px;"></td>
                <td style="width: 200px; text-align: center;">EMPRESA</td>
                <td style="width: 200px;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">APELLIDOS:</td>
                <td></td>
                <td style="text-align: center;">FECHA DE EMISIÓN:</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: center;">N° DNI:</td>
                <td></td>
                <td style="text-align: center;">PUESTO DE TRABAJO:</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" style="text-align: center; margin-bottom: -1px;">

        <thead style="background-color: #2f5496; color: white;">
            <tr>
            <td style="width: 200px;">ÁREA/MÁQUINA</td>
            <td style="width: 300px;">SUPERVISOR A CARGO</td>
            <td style="width: 200px;">DNI DEL SUPERVISOR</td>
            
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
           
        </tbody>
        
    </table>

    <table  class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <td style="padding: 0px; background-color: #2f5496; color: white;">Importante: Presentar el pasaporte en control de vigilancia para permitir el ingreso. Solo el área de Seguridad Industrial emite Pasaporte.</td>
            </tr>
        </thead>
    </table>

    <table  class="table table-bordered" style="text-align: center; margin-bottom: -1px;">
        <thead>
            <tr>
                <td style="background-color: #2f5496; color: white;">CONTROL MENSUAL</td>
            </tr>
        </thead>
    </table>

    <table class="table table-bordered" style="text-align: center; margin-bottom: -1px;">

        <thead>
            <tr>
            <td style="width: 200px;"></td>
            <td style="width: 200px;"></td>
            <td style="width: 200px;"></td>
            
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
            <tr>
                <td style="width: 200px;"></td>
                <td style="width: 300px;"></td>
                <td style="width: 200px;"></td>
            </tr>
           
        </tbody>
        
    </table>

    <table  class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <td style="padding: 0px; background-color: #2f5496; height: 20px;"></td>
            </tr>
        </thead>
    </table>

    

</div>



<div class="container p-1" >

    <h1 style="color: blue;" class="text-center">PASE MARZO</h1>

    

     <!--------------------------tabla1----------------------------------->
    <table class="tabla1" border="3" style="margin: 0 auto;" width="800" height="0">
        <p class="container p-1" style="color:rgb(255, 255, 255);">Datos Personales:</p>
    </table>
    
     <!--------------------------tabla2----------------------------------->
    <table bgcolor="white" border="3" style="margin: 0 auto;" width="800" height="">

        <div class="container p-1">
            <p style="color:blue">Nombres: Pepe</p>
            <p style="color:blue">Apellidos: Salas Miltón</p>
            <p style="color:blue">DNI: 78976767</p>
            <p style="color:blue">Puesto de Trabajo: Operario</p>
        </div>

        <div class="servis">
            <p style="color:blue;">Empresa: Global</p>
            <p style="color:blue">Nivel de Riesgo: Bajo</p>
            <p style="color:blue;">Fecha de Emisión: 09-02-2021</p>
            <p style="color:blue">Fecha de Expiración: 09-08-2021</p>
        </div>
        
        
    </table>
    <!--------------------------tabla3----------------------------------->
    <table bgcolor="white" border="3" style="margin: 0 auto;" width="800" height="0">
        <br>
    
        <p style="color: blue;">Observación: Pase duración 1 año.</p>
    
        <br>
    
        <div class="container p-1">
            <p style="color:blue">-Renovado mes Enero:</p>
            <p style="color:blue">Fecha de renovación: 09-01-2021 - Fecha de expiración: 30-01-2021</p>
            <br>
            <p style="color:blue">-Renovado mes Abril:</p>
            <p style="color:blue">Fecha de renovación: 09-02-2021 - Fecha de expiración: 30-02-2021</p>
        </div>

    </table>
    <!--------------------------tabla4----------------------------------->
    <table bgcolor="white" border="3" style="margin: 0 auto;" width="800" height="0">
        <br>
    
        <div class="container p-1">
            <p style="color:blue" class="text-center">-IMPORTANTE: Presentar el pasaporte en control de vigilancia para permitir el ingreso.</p>
            <br>
            <p style="color:blue;" class="text-center">Solo el area de Seguridad Industrial emite este pasaporte</p>
        </div>

    </table>
    
</div>


    
    