<div class="container p-3" style="text-align: center;">
    <header>
        <h1>App Quiz</h1>
        <p>Response las siguientes preguntas: </p>
    </header>

    <section>
        <div id="resutado"></div>
        <form name="quiz" (ngSubmit)="verificarRespuestas()" >
            <h3>1.eeeeeeeeeeeeeeeeee</h3>
            <input type="radio" name="p1" value="a">a. ss <br/>
            <input type="radio" name="p1" value="b">b. dd <br/>
            <input type="radio" name="p1" value="c">c. sss <br/>
            <input type="radio" name="p1" value="d">d. ss <br/>
            
            <h3>2.eeeeeeeeeeeeeeeeee</h3>
            <input type="radio" name="p2" value="a">a. ss <br/>
            <input type="radio" name="p2" value="b">b. dd <br/>
            <input type="radio" name="p2" value="c">c. sss <br/>
            <input type="radio" name="p2" value="d">d. ss <br/>

            <h3>3.eeeeeeeeeeeeeeeeee</h3>
            <input type="radio" name="p3" value="a">a. ss <br/>
            <input type="radio" name="p3" value="b">b. dd <br/>
            <input type="radio" name="p3" value="c">c. sss <br/>
            <input type="radio" name="p3" value="d">d. ss <br/>

            <h3>4.eeeeeeeeeeeeeeeeee</h3>
            <input type="radio" name="p4" value="a">a. ss <br/>
            <input type="radio" name="p4" value="b">b. dd <br/>
            <input type="radio" name="p4" value="c">c. sss <br/>
            <input type="radio" name="p4" value="d">d. ss <br/>

            <h3>5.eeeeeeeeeeeeeeeeee</h3>
            <input type="radio" name="p5" value="a">a. ss <br/>
            <input type="radio" name="p5" value="b">b. dd <br/>
            <input type="radio" name="p5" value="c">c. sss <br/>
            <input type="radio" name="p5" value="d">d. ss <br/>

            <input type="submit" value="Enviar">
        </form>
    </section>
</div>


